@page "/ProjectDetails"

<h1 class="mb-5">Forest Monsters</h1>
<div class="row">
    <div class="col-lg-6 mb-4">
        <img class="img-fluid" src="/images/Forest Monsters.png" />
    </div>    
    <div class="col-lg-6">        
        <p>A 2D game made with Unity with C# scripting. Your task is to save the enchanted forest.</p>

        <h5 class="mb-4">Technologies used in this project:</h5>
        <div class="techs">
            <div class="tech">
                <span><i class="devicon-csharp-plain" />C#</span>  
            </div>
            <div class="tech">
                <span><i class="devicon-unity-original" />Unity</span>
            </div>
        </div>
        
        <h5 class="mb-4">Useful links related to this project:</h5>
        <div>
            <div class="link">
                <a href="https://github.com/prospero-apps/forest-monsters" target="_blank">
                    <span><i class="devicon-github-original" />Github</span>
                </a>
            </div>
            <div class="link">
                <a href="https://youtu.be/i7xyMbhdg_8" target="_blank">
                    <span><i class="bi bi-youtube" />YouTube</span>
                </a>
            </div>
            <div class="link">
                <a href="https://prosperocoder.com/posts/unity/forest-monsters-a-2d-platformer-game-made-with-unity" target="_blank">
                    <span><i class="bi bi-book" />My Prospero Coder blog</span>
                </a>
            </div>
            <div class="link">
                <a href="https://prosperocoder.itch.io/forest-monsters" target="_blank">
                    <span><i class="bi bi-download" />Download</span>
                </a>
            </div>
        </div>
    </div>
</div>


@code {

}
