.techs {
    margin-bottom: 20px;
}

.tech,
.link {
    font-size: 18px;
}

i {
    padding-right: 20px;
    width: 40px;
}

.link a {
    text-decoration: none;
}

    .link a:hover {
        font-weight: bolder;
    }
