@page "/ProjectDetails"

<div>
    <img src="/images/Forest Monsters.png" />
    <div>
        <h5>Forest Monsters</h5>
        <p>A 2D game made with Unity with C# scripting. Your task is to save the enchanted forest.</p>
        <div>
            Technologies used in this project:
            <div>C#</div>
            <div>Unity</div>
        </div>        
        <div>
            Useful links related to this project:
            <div>Github</div>
            <div>YouTube</div>
            <div>My Prospero Coder blog</div>
            <div>download</div>
        </div>
    </div>
</div>

@code {

}
