@using MyPortfolio.Models;
@inject HttpClient Http

<div class="sidebar-menu">
    @if (Categories == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h3 class="sidebar-header">Categories</h3>
        <div class="sidebar-scroll">
            @foreach (var category in Categories)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <div class="sidebar-item">
                            <i class="@category.Icon" />
                            <p>@category.Name</p>
                        </div>
                    </NavLink>
                </div>
            }
        </div>        
    }
</div>  

@code {
    public List<CategoryModel>? Categories { get; set; }
    public DataModel? Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Data = await Http.GetFromJsonAsync<DataModel>("data/data.json");

        Categories = Data.Categories;        
    }
}
