<div class="sidebar-menu">
    <h3 class="sidebar-header">Categories</h3>
    <div class="sidebar-scroll">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-globe" />
                    <p>Web Projects</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-controller" />
                    <p>Games</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-box" />
                    <p>Blender Projects</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-book-half" />
                    <p>Books</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-easel" />
                    <p>Online Courses</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-layout-text-window" />
                    <p>Magazines</p>
                </div>
            </NavLink>
        </div>
    </div>
</div>

@code {

}
