@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 header">
            <div class="personal-info">
                <div class="personal-info-main">
                    <div class="personal-info-text">
                        <h2>Kamil Pakula - About me</h2>
                        <p>I'm looking for a job as an entry-level (junior / intern) frontend or mobile/desktop developer. As far as web development is concerned, I've had some experience with Blazor and this is my favorite framework. As far as mobile/desktop development is concerned, I use .NET MAUI. I'm sure I could learn other XAML-based technologies as well. I like learning new stuff. I like working with people, but I can also work individually.</p>
                        <p>Here are some of my projects...</p>
                    </div>
                    <div class="personal-info-image">
                        <img class='face-image' src='images/ID Photo.png' alt="face photo" />
                    </div>
                </div>
                <div class="personal-info-links">
                    <a href="https://github.com/prospero-apps" target="blank">
                        <i class="devicon-github-original github-icon"></i>&nbsp; Github
                    </a>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
