.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    color: black;
    height: 520px;
    justify-content: space-between;
    margin-bottom: 10px;
}

img {
    transition: 0.5s ease-in-out;
    height: 220px;
    width: 90%;
    object-fit: contain;
    align-self: center;
    margin-top: 10px;
    border: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech-icons,
.link-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
}

.more-info {
    font-size: 0.8em;
    margin-top: 1em;
}

a {
    text-decoration: none;
}

    a:hover .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

    a:hover img {
        transform: scale(1.07);
        transition: 0.5s ease-in-out;
    }

@keyframes rotate-icon {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

.single-icon:hover {
    animation-name: rotate-icon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}