<a href="">
    <div class="card">
        <img class="img-thumbnail" src="/images/Forest Monsters.png" />
        <div class="card-body">
            <h5 class="card-title mb-3">Forest Monsters</h5>
            <div class="tech-icons">
                <div class="single-icon"><i class="devicon-csharp-plain" /></div>
                <div class="single-icon"><i class="devicon-unity-original" /></div>
            </div>
            <p>A 2D game made with Unity with C# scripting. Your task is to save the enchanted forest.</p>
            <div class="link-icons">
                <div class="single-icon"><i class="devicon-github-original" /></div>
                <div class="single-icon"><i class="bi bi-youtube" /></div>
                <div class="single-icon"><i class="bi bi-book" /></div>
                <div class="single-icon"><i class="bi bi-download" /></div>
            </div>
            <p class="more-info">Click to view more...</p>
        </div>
    </div>
</a>

@code {

}
