@using MyPortfolio.Models;

@foreach(var project in Projects)
{
    <div class="col-md-6 col-lg-4 mb-2">
        <Project ProjectData="@project" />
    </div>
}

@code {
    [Parameter]
    public List<ProjectModel> Projects { get; set; }
}
