<div>
    <div>
        <h6>My Blogs</h6>

        <div>
            <a href="https://prosperocoder.com/" target="_blank">
                <img src="images/SocialMedia/Logo Coder.png">
            </a>
            <a href="https://prosperoenglish.com/" target="_blank">
                <img src="images/SocialMedia/Logo English.png">
            </a>
        </div>
    </div>

    <div>
        <h6>My YouTube Channels</h6>

        <div>
            <a href="https://www.youtube.com/c/ProsperoCoder/" target="_blank">
                <img src="images/SocialMedia/Prospero Coder YT Banner.png">
            </a>
            <a href="https://www.youtube.com/c/ProsperoBlender" target="_blank">
                <img src="images/SocialMedia/Prospero Blender YT Banner.png">
            </a>
            <a href="https://www.youtube.com/c/ProsperoEnglish" target="_blank">
                <img src="images/SocialMedia/Prospero English YT Banner.png">
            </a>
        </div>
    </div>


    <div>
        <h6>Contact</h6>
        <div>
            prosperocoder@gmail.com
        </div>
    </div>
</div>
