<div class="sidebar-menu">
    <h3 class="sidebar-header">Technologies</h3>
    <div class="sidebar-scroll">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-csharp-plain" />
                    <p>C#</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-dotnetcore-plain" />
                    <p>.NET</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-unity-original" />
                    <p>Unity</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-html5-plain" />
                    <p>HTML</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-css3-plain" />
                    <p>CSS</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-javascript-plain" />
                    <p>JavaScript</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-react-original" />
                    <p>React</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-python-plain" />
                    <p>Python</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-blender-original" />
                    <p>Blender</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-azure-plain" />
                    <p>Azure</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-microsoftsqlserver-plain" />
                    <p>MS SQL Server</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="devicon-bootstrap-plain" />
                    <p>Bootstrap</p>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="sidebar-item">
                    <i class="bi bi-people" />
                    <p>English</p>
                </div>
            </NavLink>
        </div>
    </div>
</div>

@code {

}
